@import './lib/common.less';
@import './lib/base.less';

.wrapper{
	
}
.product-wrapper{
	font-size: 0;
	padding-bottom: 35px;
	background-color: @colorWhite;
	.box-shadow(0 0 5px rgba(0,0,0,0.1));
	.product{
		margin-left: 40px;
		margin-top: 35px;
	}
}
.product-info{
	width: 1120px;
	margin: 0 auto;
	background-color: @colorWhite;
	.slider-box{
		width: 768px;
		height: 550px;
		display: inline-block;
		.slider{
			height: 432px;
			background-color: @colorGray;
		}
		.slide-index{
			margin-top: 30px;
			.index{
				display: inline-block;
				width: 96px;
				height: 54px;
				margin-left: 40px;
			}
		}
	}
	.info-box{
		width: 272px;
		padding: 40px 40px 0 40px;
		height: 510px;
		float: right;
		.title{
			font-size: 20px;
			color: @colorBlack;
		}
		.desc{
			color: @colorGray;
			font-size: 12px;
			line-height: 20px;
			margin-top: 30px;
		}
		.score-box{
			margin-top: 40px;
			height: 80px;
			.score{
				color: @colorOrange;
				font-size: 80px;
				float: left;
			}
			.score-info{
				margin-left: 10px;
				float: left;
			}
			.comments-info{
				margin-top: 15px;
				.count{
					color: @colorOrange;
					font-size: 22px;
				}
			}
			.star-box{
					margin-top: 20px;
					display: inline-block;
					.star{
						display: inline-block;
						width: 14px;
						height: 14px;
						margin-right: 7px;
						background-color: @colorGray;
						.transition(200ms background-color);
					}
					&.star-five{

					}
					&.star-four{
						.star5{
							background-color: @colorFakeBlack;
						}
					}
					&.star-three{
						.star5{
							background-color: @colorFakeBlack;
						}
						.star4{
							background-color: @colorFakeBlack;
						}
					}
				}
		}
		.statistics{
			margin-top: 40px;
			.count{
				color: #39c7ea;
				font-size: 22px;
				&.collect-count{
					margin-left: 10px;
				}
			}
		}
		.btn{
			display: inline-block;
			line-height: 50px;
			width: 270px;
			height: 50px;
			border:1px solid @colorGray;
			color: @colorGray;
			.icon{
				width: 60px;
				height: 50px;
				border-right: 1px solid @colorGray;
				display: inline-block;
				float: left;
			}
			.text{
				text-align: center;
				display: inline-block;
				width: 209px;
				float: right;
				letter-spacing: 2px;
			}
		}
		.collect-btn{
			margin-top: 20px;
		}
		.buy-btn{
			margin-top: 20px;
			background-color: @colorOrange;
			color: @colorWhite;
			border-color: @colorOrange;
			.icon{
				border-color: @colorWhite;
			}
		}
	}
}
.recommand{
	margin: 35px auto 0;
	overflow: hidden;
	.title{
		text-align: center;
		color: @colorOrange;
		font-size: 18px;
		margin-top: 20px;
		.change{
			color: @colorGray;
			font-size: 14px;
			float: right;
			margin-right: 35px;
		}
	}
}
.product-detail-box{
	margin: 35px auto 0;
	.nav{
		height: 50px;
		li{
			float: left;
			margin-right: 20px;
			a{
				display: block;
				width: 320px;
				height: 50px;
				text-align: center;
				line-height: 50px;
				background-color: #fcfdfd;
				color: @colorGray;
				&.on{
					color: @colorOrange;
					background-color: @colorWhite;
				}
			}
		}
	}
	.main{
		background-color: @colorWhite;
		height: 800px;
		.box-shadow(0 0 5px rgba(0,0,0,0.1));
	}
}